@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sigmar&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --color-background: #F8F9FA;   
  --color-primary: #002B5B;        
  --color-secondary: #00B4D8; 
  --color-text: #4B4B4B;   
  --color-surface: #F1F3F5;  
  --color-contrast: #1C1C1C;   
  --color-error: #D72638;
  --color-warning: #FFA500; 
  --color-success: #38B000; 
  --color-info: #FFD60A;    
}

body {
  max-width: 1200px;
  margin: auto;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
}

section h1 {
  font-family: 'Lora', sans-serif;
  font-size: 40px;
}

label {
  margin: 0 0 0 3px;
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
}

input {
  padding: 13px;
  border-radius: 5px;
  outline: none;
}

.sub-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.btn {
  margin-left: 50em;
}







